# Oliver Wyman HackatOW #


### Importing libraries and packages ###

In [1]:
import pandas as pd
import numpy as np 
import math

### Data Loading ###

**CPI**

In [3]:
CPIs = pd.read_excel('Consumer Price Index_vShared.xlsx')
display(CPIs)
CPIs.info()

     Date_monthly  CPI_monthly  Date_daily   CPI_daily
0      2019-01-01         120.5 2019-01-01  120.500000
1      2019-02-01         120.8 2019-01-02  120.509677
2      2019-03-01         121.1 2019-01-03  120.519355
3      2019-04-01         121.1 2019-01-04  120.529032
4      2019-05-01         121.4 2019-01-05  120.538710
...           ...           ...        ...         ...
1456          NaT           NaN 2022-12-27  129.619355
1457          NaT           NaN 2022-12-28  129.635484
1458          NaT           NaN 2022-12-29  129.651613
1459          NaT           NaN 2022-12-30  129.667742
1460          NaT           NaN 2022-12-31  129.683871

[1461 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date_monthly  48 non-null     datetime64[ns]
 1   CPI_monthly   48 non-null     float64
 2   Date_daily    1461 non-null   datetime64[ns]
 3   CPI_daily     1461 non-null   float64
dtypes: datetime64[ns](2), float64(2)
memory usage: 45.8 KB

**Product Dataset**

In [4]:
products = pd.read_csv('Hackathon_DimProduct_SAN_vShared.csv')

display(products)
products.info()

,ProductKey,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2
0,key_52138,3521,1039040101,Category A,category aa
1,19864,3521,1039040125,Category A,Category AC
2,95144,1713,1049688101,Category A,Category AA
3,23070,3521,1050235101,Category A,Category AC
4,93165,3521,1039040125,Category A,Category AC
...,...,...,...,...,...
293,12353,3521,1036290101,Category A,Category AB
294,55442,132,1036290101,Category A,Category AC
295,78206,3521,1039040101,Category A,Category AC
296,55438,132,1036290101,Category A,Category AB
297,key_96971,3521,1036290101,Category A,Category AA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            298 non-null    object
 1   BrandKey              298 non-null    int64
 2   SupplierKey           298 non-null    int64
 3   ProductCategory_Lvl1  298 non-null    object
 4   ProductCategory_Lvl2  298 non-null    object
dtypes: int64(2), object(3)
memory usage: 11.8+ KB

Let us check if any mistake was done in recording products by value counting the categorical columns.

In [5]:
products["ProductCategory_Lvl1"].value_counts()
products["ProductCategory_Lvl2"].value_counts()
products["ProductKey"].value_counts()

key_52138    1
49342        1
72015        1
87307        1
41631        1
            ..
49329        1
45203        1
55248        1
59999        1
key_96971    1
Name: ProductKey, Length: 298, dtype: int64

As it is immediately noticed from the first entry, some product keys are wrongly typed. key_ should not be present in the entries but it appears 4 times. Furthermore, a minor mistake was done in the categories, since some letters were not capitalized properly. We will use simple string manipulation to get the job done.

In [6]:
Productkeycorr = []
ProductCategory_Lvl2corr = []

for p in products["ProductKey"]:
    if "key_" in p:
        p = p[4:]
        Productkeycorr.append(p)
    else:
        Productkeycorr.append(p) 

for c in products["ProductCategory_Lvl2"]:
    if c[0] == "c":
        l = c.capitalize()
        l = l[:-2] + l[-2:].upper()
        ProductCategory_Lvl2corr.append(l) 
    else:
        ProductCategory_Lvl2corr.append(c) 

            
products["ProductCategory_Lvl2"] = np.array(ProductCategory_Lvl2corr)
products["ProductKey"] = np.array(Productkeycorr)


display(products)

,ProductKey,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2
0,52138,3521,1039040101,Category A,Category AA
1,19864,3521,1039040125,Category A,Category AC
2,95144,1713,1049688101,Category A,Category AA
3,23070,3521,1050235101,Category A,Category AC
4,93165,3521,1039040125,Category A,Category AC
...,...,...,...,...,...
293,12353,3521,1036290101,Category A,Category AB
294,55442,132,1036290101,Category A,Category AC
295,78206,3521,1039040101,Category A,Category AC
296,55438,132,1036290101,Category A,Category AB
297,96971,3521,1036290101,Category A,Category AA

**Promotion Dataset**

In [7]:
promotions = pd.read_csv('Hackathon_DimPromotion_SAN_vShared.csv')

display(promotions)
promotions.info()

,PromotionKey,PromoMechanic,PromotionStartDate,PromotionEndDate
0,312237,Percentage off,10/1/2021,10/6/2021
1,265157,Buy $X for Y%,2/25/2020,2/25/2020
2,270553,Buy $X for $Y,1/15/2020,1/27/2020
3,308082,X units for $Y (X = 1),3/10/2021,3/29/2021
4,317323,PWP,5/13/2022,7/6/2022
...,...,...,...,...
3426,297974,X units for $Y (X = 1),1/1/2022,6/30/2022
3427,339287,Buy $X for $Y,12/12/2021,12/12/2021
3428,263837,X units for $Y (X = 1),2/27/2020,3/30/2020
3429,375529,X units for $Y (X > 1),11/16/2022,1/2/2023
3430,352362,X units for $Y (X > 1),1/18/2020,3/4/2020

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3431 entries, 0 to 3430
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PromotionKey        3431 non-null   int64
 1   PromoMechanic       3431 non-null   object
 2   PromotionStartDate  3431 non-null   object
 3   PromotionEndDate    3431 non-null   object
dtypes: int64(1), object(3)
memory usage: 107.3+ KB

As Promomechanic categories will serve for out aggregate analysis, we regroup and see how these are distributed.

In [27]:
promotions["PromoMechanic"].value_counts()

Buy $X for $Y             723
X units for $Y (X = 1)    710
X units for $Y (X > 1)    657
Percentage off            338
PWP                       242
Buy $X for Y%             175
Buy X free Y              113
GWP                       106
Xth for Y%                100
X units for Y%             94
Buy X free X               78
Coupon/Voucher             33
Member Points              24
Unknown                    16
Price off                  14
Xth @ $Y                    8
Name: PromoMechanic, dtype: int64

**Store Dataset**

In [8]:
stores = pd.read_csv('Hackathon_DimStore_SAN_vShared.csv')

display(stores)
stores.info()

     StoreKey DistributionChannel     StoreType Region_Lvl1 Region_Lvl2
0         559            Physical  Store Type B     RegionA   Region 34
1         168            Physical  Store Type B     RegionA    Region 2
2        2061            Physical  Store Type E     RegionA   Region 10
3         590            Physical  Store Type D     RegionA    Region 2
4         301            Physical  Store Type B     RegionA  Region 123
..        ...                 ...           ...         ...         ...
734       463            Physical  Store Type B     RegionB  Region 141
735         4            Physical  Store Type C     RegionA    Region 4
736       280            Physical  Store Type D     RegionB   Region 39
737       688            Physical  Store Type G     RegionA  Region 112
738       892              Online  Store Type H      Online   Region 30

[739 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StoreKey             739 non-null    int64
 1   DistributionChannel  739 non-null    object
 2   StoreType            739 non-null    object
 3   Region_Lvl1          739 non-null    object
 4   Region_Lvl2          739 non-null    object
dtypes: int64(1), object(4)
memory usage: 29.0+ KB

Let us see if some strange category comes up in the stores DataFrame.

In [9]:
stores["StoreType"].value_counts()
stores["Region_Lvl1"].value_counts()
stores["Region_Lvl2"].value_counts()

Region 2      58
Region 7      35
Region 30     27
Region 11     24
Region 12     24
              ..
Region 132     1
Region 197     1
Region 100     1
Region 135     1
Region 112     1
Name: Region_Lvl2, Length: 222, dtype: int64

**Transaction Dataset**

In [10]:
transactions = pd.read_csv('Hackathon_FactSalesTransactionDATES_vShared.csv')

display(transactions)
transactions.info()

,TransactionDate,DayOfWeek,WeekendFlag,StoreKey,ProductKey,UnitVolume,ActualSales,SalesDiscount,RetailFullPrice
0,2020-01-29,Wednesday,False,118,49334,2.0,103.35080,-16.87360,120.2244
1,2021-10-31,Sunday,True,78,59511,1.0,17.13725,-17.13725,34.2745
2,2021-06-17,Thursday,False,672,97438,1.0,22.46298,-14.97532,37.4383
3,2022-02-06,Sunday,True,193,58921,2.0,42.18400,-9.49140,51.6754
4,2022-03-29,Tuesday,False,2059,44633,1.0,31.63800,-12.65520,44.2932
...,...,...,...,...,...,...,...,...,...
11300998,2022-02-07,Monday,False,56,62330,31.0,634.02552,-330.40618,964.4317
11300999,2020-01-15,Wednesday,False,4,39983,1.0,18.45550,0.00000,18.4555
11301000,2022-09-22,Thursday,False,654,95835,3.0,87.00450,0.00000,87.0045
11301001,2020-03-06,Friday,False,369,49489,1.0,29.00150,0.00000,29.0015
11301002,2020-03-10,Tuesday,False,508,73607,1.0,28.47420,0.00000,28.4742

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11301003 entries, 0 to 11301002
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   TransactionDate  object
 1   DayOfWeek        object
 2   WeekendFlag      object
 3   StoreKey         object
 4   ProductKey       object
 5   UnitVolume       float64
 6   ActualSales      float64
 7   SalesDiscount    float64
 8   RetailFullPrice  float64
dtypes: float64(4), object(5)
memory usage: 776.0+ MB

Let us also check if days are all correct and also turn transactiondate series to datetime object.

In [12]:
#checking whether days are 7.
transactions["DayOfWeek"].value_counts()

Saturday     1857497
Sunday       1848111
Friday       1624278
Thursday     1510615
Monday       1503625
Wednesday    1474490
Tuesday      1458409
Name: DayOfWeek, dtype: int64

In [11]:
#turning dates
wu = pd.to_datetime(transactions["TransactionDate"])
transactions["TransactionDate"] = wu

**Transaction Promotion Dataset**

In [14]:
transactions_promo = pd.read_csv('Hackathon_FactSalesTransactionPromotion_vShared.csv')

display(transactions_promo)
transactions_promo.info()

        TransactionDate StoreKey  ProductKey  PromotionKey
0            2021-06-13      615       49492        348444
1            2020-01-15      118       26841        324048
2            2021-01-06      653       97953        273352
3            2022-04-24      288       95792        356728
4            2022-08-28      382       62330        364487
...                 ...      ...         ...           ...
5318756      2020-04-09      358       41631        267707
5318757      2022-03-13      576       95836        270013
5318758      2021-05-08      358       59736        256313
5318759      2021-10-31      193       95822        326071
5318760      2021-10-14      621       88531        312322

[5318761 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5318761 entries, 0 to 5318760
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   TransactionDate  object
 1   StoreKey         object
 2   ProductKey       int64
 3   PromotionKey     int64
dtypes: int64(2), object(2)
memory usage: 162.3+ MB

We do the same of what we did previously.

In [16]:
w2 = pd.to_datetime(transactions_promo["TransactionDate"])
transactions_promo["TransactionDate"] = w2

**Holidays Dataset**

In [8]:
holidays = pd.read_csv('Hackathon_HolidaysMY_vShared.csv')

display(holidays)
holidays.info()

,Holiday Description,Comments
0,New Year's Eve,NaN
1,Chinese New Year's Day,Note: If Lunar New Year's Day falls on a Sunda...
2,Federal Territory Day,NaN
3,Hari Raya Puasa (End of Ramadan),Ramadan shifts
4,Labor Day,NaN
5,Wesak Day (Buddha's Birthday),NaN
6,King's Birthday,NaN
7,Hari Raya Qurban (Feast of Sacrifice),NaN
8,Awal Muharram (Islamic New Year),NaN
9,Merdeka Day (National Day),NaN
10,Milad un Nabi (Birth of the Prophet Muhammad),NaN
11,Deepavali (Festival of Lights),NaN
12,Christmas Day,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Holiday Description  13 non-null     object
 1   Comments             2 non-null      object
dtypes: object(2)
memory usage: 336.0+ bytes

### Time to join datasets ##

The idea is to join Transaction with Product on ProductKey and then joining the result with Store on StoreKey. The code below will create the first merged dataframe, then we will merge Transaction Promotion with Promotion on PromotionKey. We do this because in the Transaction dataset there is no column representing the PromotionKey. Hence we will first create two different merged dataframe and then we join them.

In [17]:
transactions_p = pd.merge(transactions, products, on='ProductKey')
display(transactions_p)

,TransactionDate,DayOfWeek,WeekendFlag,StoreKey,ProductKey,UnitVolume,ActualSales,SalesDiscount,RetailFullPrice,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2
0,2020-01-29,Wednesday,False,118,49334,2.0,103.3508,-16.8736,120.2244,3521,1028407101,Category A,Category AC
1,2021-05-31,Monday,False,60,49334,3.0,172.4271,0.0000,172.4271,3521,1028407101,Category A,Category AC
2,2022-11-02,Wednesday,False,2045,49334,5.0,287.3785,-26.3650,313.7435,3521,1028407101,Category A,Category AC
3,2022-02-16,Wednesday,False,2005,49334,2.0,114.9514,0.0000,114.9514,3521,1028407101,Category A,Category AC
4,2021-11-29,Monday,False,227,49334,5.0,261.0135,-52.7300,313.7435,3521,1028407101,Category A,Category AC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11242036,2022-05-08,Sunday,True,301,49494,1.0,0.0000,0.0000,0.0000,3521,1036290101,Category A,Category AB
11242037,2020-04-29,Wednesday,False,506,49494,1.0,0.0000,0.0000,0.0000,3521,1036290101,Category A,Category AB
11242038,2021-03-30,Tuesday,False,315,22131,0.0,0.0000,0.0000,0.0000,3521,1039040101,Category A,Category AA
11242039,2021-11-14,Sunday,True,273,48671,0.0,0.0000,0.0000,0.0000,1713,1049688101,Category A,Category AA
11242040,2022-03-13,Sunday,True,321,49342,0.0,0.0000,0.0000,0.0000,3521,1039040101,Category A,Category AA

In [18]:
transactions_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11242041 entries, 0 to 11242040
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   TransactionDate       object
 1   DayOfWeek             object
 2   WeekendFlag           object
 3   StoreKey              object
 4   ProductKey            object
 5   UnitVolume            float64
 6   ActualSales           float64
 7   SalesDiscount         float64
 8   RetailFullPrice       float64
 9   BrandKey              int64
 10  SupplierKey           int64
 11  ProductCategory_Lvl1  object
 12  ProductCategory_Lvl2  object
dtypes: float64(4), int64(2), object(7)
memory usage: 1.2+ GB

While trying to merge transactions_p with Store we found that StoreKey in transactions_p is of type object, hence we tried to simply merge changing the type to int but the issue was that there were some rows saved as **indexNumber_Key** hence we had first to clean them in order to merge the two dataframes.

In [19]:
storeKeys = np.array(transactions_p['StoreKey'])
storeKeys_clean = []

for i in storeKeys:
    try:
        storeKeys_clean.append(int(i))
    except:
        storeKeys_clean.append(int(i[0:-4]))
        
storeKeys_clean = np.array(storeKeys_clean)

transactions_p['StoreKey'] = storeKeys_clean
display(transactions_p)

,TransactionDate,DayOfWeek,WeekendFlag,StoreKey,ProductKey,UnitVolume,ActualSales,SalesDiscount,RetailFullPrice,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2
0,2020-01-29,Wednesday,False,118,49334,2.0,103.3508,-16.8736,120.2244,3521,1028407101,Category A,Category AC
1,2021-05-31,Monday,False,60,49334,3.0,172.4271,0.0000,172.4271,3521,1028407101,Category A,Category AC
2,2022-11-02,Wednesday,False,2045,49334,5.0,287.3785,-26.3650,313.7435,3521,1028407101,Category A,Category AC
3,2022-02-16,Wednesday,False,2005,49334,2.0,114.9514,0.0000,114.9514,3521,1028407101,Category A,Category AC
4,2021-11-29,Monday,False,227,49334,5.0,261.0135,-52.7300,313.7435,3521,1028407101,Category A,Category AC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11242036,2022-05-08,Sunday,True,301,49494,1.0,0.0000,0.0000,0.0000,3521,1036290101,Category A,Category AB
11242037,2020-04-29,Wednesday,False,506,49494,1.0,0.0000,0.0000,0.0000,3521,1036290101,Category A,Category AB
11242038,2021-03-30,Tuesday,False,315,22131,0.0,0.0000,0.0000,0.0000,3521,1039040101,Category A,Category AA
11242039,2021-11-14,Sunday,True,273,48671,0.0,0.0000,0.0000,0.0000,1713,1049688101,Category A,Category AA
11242040,2022-03-13,Sunday,True,321,49342,0.0,0.0000,0.0000,0.0000,3521,1039040101,Category A,Category AA

In [20]:
transactions_ps = pd.merge(transactions_p, stores, on='StoreKey')
display(transactions_ps)

,TransactionDate,DayOfWeek,WeekendFlag,StoreKey,ProductKey,UnitVolume,ActualSales,SalesDiscount,RetailFullPrice,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2,DistributionChannel,StoreType,Region_Lvl1,Region_Lvl2
0,2020-01-29,Wednesday,False,118,49334,2.0,103.3508,-16.8736,120.2244,3521,1028407101,Category A,Category AC,Physical,Store Type B,RegionB,Region 17
1,2022-02-26,Saturday,True,118,49334,7.0,402.3299,0.0000,402.3299,3521,1028407101,Category A,Category AC,Physical,Store Type B,RegionB,Region 17
2,2020-09-24,Thursday,False,118,49334,3.0,166.0995,-14.2371,180.3366,3521,1028407101,Category A,Category AC,Physical,Store Type B,RegionB,Region 17
3,2021-01-19,Tuesday,False,118,49334,4.0,229.9028,-21.0920,250.9948,3521,1028407101,Category A,Category AC,Physical,Store Type B,RegionB,Region 17
4,2020-02-26,Wednesday,False,118,49334,2.0,114.9514,-5.2730,120.2244,3521,1028407101,Category A,Category AC,Physical,Store Type B,RegionB,Region 17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11437243,2022-12-09,Friday,False,748,93291,36.0,569.4840,-854.2260,1423.7100,3521,1039040101,Category A,Category AB,Physical,Other,RegionA,Region 30
11437244,2022-12-02,Friday,False,748,93291,72.0,1138.9680,-1708.4520,2847.4200,3521,1039040101,Category A,Category AB,Physical,Other,RegionA,Region 30
11437245,2022-12-02,Friday,False,748,93291,72.0,1138.9680,-1708.4520,2847.4200,3521,1039040101,Category A,Category AB,Physical,Other,RegionA,Region 30
11437246,2022-12-10,Saturday,True,748,93291,37.0,585.3030,-877.9545,1463.2575,3521,1039040101,Category A,Category AB,Physical,Other,RegionA,Region 30
11437247,2022-12-10,Saturday,True,748,93291,37.0,585.3030,-877.9545,1463.2575,3521,1039040101,Category A,Category AB,Physical,Other,RegionA,Region 30

We finally obtained a dataframe via joining the Transaction, Product and Store datasets. Now is time to create the second dataframe the one obtained via joining Transaction Promotion, Promotion, Product, Store.

In [21]:
#changing productkeys on transactions_promo to string in order to merge with productions dataframe
transactions_promo["ProductKey"] = np.array([str(x) for x in transactions_promo["ProductKey"]])
transactions_promo_p = pd.merge(transactions_promo, products, on='ProductKey')
display(transactions_promo_p)

,TransactionDate,StoreKey,ProductKey,PromotionKey,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2
0,2021-06-13,615,49492,348444,3521,1036290101,Category A,Category AB
1,2021-09-28,646,49492,295634,3521,1036290101,Category A,Category AB
2,2021-06-12,422,49492,348444,3521,1036290101,Category A,Category AB
3,2020-11-30,112,49492,293481,3521,1036290101,Category A,Category AB
4,2021-02-07,156,49492,289114,3521,1036290101,Category A,Category AB
...,...,...,...,...,...,...,...,...
5318756,2022-04-18,896,35032,317735,3521,1098896101,Category A,Category AB
5318757,2022-05-11,896,35032,287270,3521,1098896101,Category A,Category AB
5318758,2020-05-18,896,12234,272994,3521,1028407101,Category A,Category AC
5318759,2020-02-05,896,12234,267370,3521,1028407101,Category A,Category AC
5318760,2020-10-14,896,12354,263805,3521,1036290101,Category A,Category AB

The last thing we need to merge in order to gather some statistical insights, is to finally merge promotions in the df.
What we noticed though, is that the Promotionkey column name was added with a blank space. We will rename it.

In [22]:
transactions_promo_p.columns 
promotions.columns

Index(['PromotionKey ', 'PromoMechanic', 'PromotionStartDate',
       'PromotionEndDate'],
      dtype='object')

In [23]:

promotions.rename(columns={'PromotionKey ': 'PromotionKey'}, inplace=True)

In [24]:
#merging transaction promo on promotion keyy
transactions_promo["TransactionDate"].value_counts()
promofin = pd.merge(transactions_promo_p, promotions, on='PromotionKey')
display(promofin)

,TransactionDate,StoreKey,ProductKey,PromotionKey,BrandKey,SupplierKey,ProductCategory_Lvl1,ProductCategory_Lvl2,PromoMechanic,PromotionStartDate,PromotionEndDate
0,2021-06-13,615,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,6/30/2021
1,2021-06-12,422,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,6/30/2021
2,2021-06-16,184,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,6/30/2021
3,2021-06-21,655,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,6/30/2021
4,2021-06-04,491,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,6/30/2021
...,...,...,...,...,...,...,...,...,...,...,...
5318756,2021-12-31,896,35032,249247,3521,1098896101,Category A,Category AB,X units for $Y (X = 1),10/15/2021,12/31/2021
5318757,2021-12-27,896,35032,249247,3521,1098896101,Category A,Category AB,X units for $Y (X = 1),10/15/2021,12/31/2021
5318758,2021-03-08,896,12320,256408,3521,1028407101,Category A,Category AC,Buy $X for $Y,3/8/2021,3/8/2021
5318759,2022-05-25,896,35033,253180,3521,1098896101,Category A,Category AB,Buy $X for $Y,5/25/2022,5/27/2022
5318760,2022-05-26,896,35033,253180,3521,1098896101,Category A,Category AB,Buy $X for $Y,5/25/2022,5/27/2022

In [42]:
promofin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5318761 entries, 0 to 5318760
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   TransactionDate       object
 1   StoreKey              object
 2   ProductKey            object
 3   PromotionKey          int64
 4   BrandKey              int64
 5   SupplierKey           int64
 6   ProductCategory_Lvl1  object
 7   ProductCategory_Lvl2  object
 8   PromoMechanic         object
 9   PromotionStartDate    object
 10  PromotionEndDate      object
dtypes: int64(3), object(8)
memory usage: 486.9+ MB

In [43]:
transactions_ps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11437248 entries, 0 to 11437247
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   TransactionDate       object
 1   DayOfWeek             object
 2   WeekendFlag           object
 3   StoreKey              int32
 4   ProductKey            object
 5   UnitVolume            float64
 6   ActualSales           float64
 7   SalesDiscount         float64
 8   RetailFullPrice       float64
 9   BrandKey              int64
 10  SupplierKey           int64
 11  ProductCategory_Lvl1  object
 12  ProductCategory_Lvl2  object
 13  DistributionChannel   object
 14  StoreType             object
 15  Region_Lvl1           object
 16  Region_Lvl2           object
dtypes: float64(4), int32(1), int64(2), object(10)
memory usage: 1.5+ GB

First off, we notice that some storekeys are not well recorded, as some were added with "key" at the beginning. We will remove it.

In [32]:
w4 = []
for el in promofin["StoreKey"]:
    if "key" in el:
        w4.append(int(el[4:]))
    
    else:
        w4.append(int(el))


promofin["StoreKey"] = w4

Finally, we merge them all so that we can easily extract the relevant information and check for some insightful statistics about sold promoted products.

In [33]:
#turning the pandas series into same datatype and c
w3 = pd.to_datetime(transactions_ps["TransactionDate"])
transactions_ps["TransactionDate"] = w3 


#merging the 2 dataframes
promotedproducts = pd.merge(promofin, transactions_ps, on=["TransactionDate","StoreKey","ProductKey"])
display(promotedproducts)

,TransactionDate,StoreKey,ProductKey,PromotionKey,BrandKey_x,SupplierKey_x,ProductCategory_Lvl1_x,ProductCategory_Lvl2_x,PromoMechanic,PromotionStartDate,...,SalesDiscount,RetailFullPrice,BrandKey_y,SupplierKey_y,ProductCategory_Lvl1_y,ProductCategory_Lvl2_y,DistributionChannel,StoreType,Region_Lvl1,Region_Lvl2
0,2021-06-13,615,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,...,-46.40240,116.0060,3521,1036290101,Category A,Category AB,Physical,Store Type B,RegionA,Region 10
1,2021-06-13,615,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,...,-46.40240,116.0060,3521,1036290101,Category A,Category AB,Physical,Store Type B,RegionA,Region 10
2,2021-06-12,422,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,...,-11.60060,29.0015,3521,1036290101,Category A,Category AB,Physical,Store Type B,RegionA,Region 130
3,2021-06-16,184,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,...,-11.60060,29.0015,3521,1036290101,Category A,Category AB,Physical,Store Type B,RegionA,Region 42
4,2021-06-21,655,49492,348444,3521,1036290101,Category A,Category AB,PWP,5/5/2021,...,-34.80180,87.0045,3521,1036290101,Category A,Category AB,Physical,Store Type E,RegionA,Region 152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5848329,2021-12-31,896,35032,249247,3521,1098896101,Category A,Category AB,X units for $Y (X = 1),10/15/2021,...,-680.21700,1392.0720,3521,1098896101,Category A,Category AB,Online,Store Type H,Online,Region 30
5848330,2021-12-27,896,35032,249247,3521,1098896101,Category A,Category AB,X units for $Y (X = 1),10/15/2021,...,-1539.76873,2784.1440,3521,1098896101,Category A,Category AB,Online,Store Type H,Online,Region 30
5848331,2021-03-08,896,12320,256408,3521,1028407101,Category A,Category AC,Buy $X for $Y,3/8/2021,...,-1739.29905,4808.9760,3521,1028407101,Category A,Category AC,Online,Store Type H,Online,Region 30
5848332,2022-05-25,896,35033,253180,3521,1098896101,Category A,Category AB,Buy $X for $Y,5/25/2022,...,-751.92980,1632.5208,3521,1098896101,Category A,Category AB,Online,Store Type H,Online,Region 30
5848333,2022-05-26,896,35033,253180,3521,1098896101,Category A,Category AB,Buy $X for $Y,5/25/2022,...,-751.92980,1632.5208,3521,1098896101,Category A,Category AB,Online,Store Type H,Online,Region 30